body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #fafafa;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* HEADER */
.header-flex {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

nav a:hover,
nav a:focus,
nav a:active {
    color: #ff5a5a;
}


.hero {
    text-align: center;
    padding: 40px 0;
}
.grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 380px;
    height: 250px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.card:hover img {
    transform: scale(1.1);
    opacity: .6;
}

.profile-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    opacity: 0;
    transition: .3s;
    text-align: left;
}

.card:hover .profile-overlay {
    opacity: 1;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid white;
}

.text-block {
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.features {
    display: flex;
    gap: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}
