
* {
    font-family: Arial;
    font-size: 20px;
    line-height: 40px;
}

p {
    color: green;
    text-align: center;
}

div {
    text-align: justify;
}


.redtext {
    color: red;
}
.nowrap {
    white-space: nowrap;
}

.shadowtext {
    text-shadow: 5px -5px 3px blue;
}

.uppercase {
    text-decoration: line-through;
    text-transform: uppercase;
    text-indent: 50px;
}

.spaced {
    letter-spacing: 30px;
    word-spacing: 50px;
}

#special {
    font-style: italic;
    font-weight: bold;
}
