
body {
    font-family: "Times New Roman", serif;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 1.5;
    margin: 20px;
}

h1 {
    color: red;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    color: black;
    font-style: italic;
    text-decoration: underline;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.item {
    text-align: center;
    font-size: 20px;
    color: black;
    margin: 2px 0;
}

#eggs {
    font-weight: bold;
    font-style: italic;
}

.note {
    font-weight: bold;
}

.note i {
    color: green;
    background-color: yellow;
}

hr {
    border: 3px solid green;
    width: 90%;
    margin: 15px auto;
}

.hint {
    font-style: italic;
    font-size: 18px;
    color: black;
    text-align: center;
}
