.travel-plan {
  background-color: rgb(255, 165, 0);
  width: 500px;
  padding: 20px;
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Основні етапи подорожі */
.phase-list {
  background-color: rgb(103, 158, 128);
  padding: 20px;
  border-radius: 6px;
}

.phase-list > li {
  position: relative;
  padding-left: 60px;
}

/* Список активностей */
.activity-list {
  font-size: 18px;
  font-style: italic;
  margin-top: 10px;
}

.activity-list > li {
  background-color: rgb(153, 180, 102);
  margin-bottom: 10px;
  padding: 10px 0 10px 50px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 24px;
}

span {
  display: inline-block;
  padding: 10px 20px;
  color: white;
}

/* Заголовки фаз */
.phase-list > li > span {
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(199, 124, 106);
  margin-bottom: 10px;
  border-radius: 4px;
}

/* Активності */
.activity-list span {
  background-color: rgb(218, 106, 32);
  border-radius: 4px;
}

/* Роздільник між фазами */
.divider {
  height: 25px;
  background-color: rgb(255, 165, 0);
  margin: 0;
}

/* Іконки для фаз */
.phase-preparation::before,
.phase-leisure::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 5px;
  width: 24px;
  height: 24px;
  background-image: url("img/rule.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Іконки для активностей */
.activity-route {
  background-image: url("img/route.svg");
}

.activity-flight {
  background-image: url("img/plane.svg");
}

.activity-hotel {
  background-image: url("img/hotel.svg");
}

.activity-car-rental {
  background-image: url("img/car.svg");
}

.activity-bar {
  background-image: url("img/bar.svg");
}

.activity-casino {
  background-image: url("img/casino.svg");
}

.activity-museum {
  background-image: url("img/museum.svg");
}

.activity-festival {
  background-image: url("img/festival.svg");
}
